body{
	font-family: 'Quicksand', sans-serif;
}

.div-form-venda{
	margin-top: 100px;
}
.form-venda{
	border: 1px solid #cecece;
	padding: 30px;
	box-shadow: 1px 1px 5px 1px #cecece;
}

.footer{
	margin-top: 100px;
}