{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>CRM Vendas</title>
	<meta charset="utf-8">
	<meta name="author" content="Team ES2018.1">
	<meta name="description" content="Sistema de vendas para restaurantes e quiósques">
	<meta name="keywords" content="Sistemas, Restaurantes, Vendas, Controle, Estoque, CRM">
	<meta http-equiv="X-UA-Compatible" content="IE-edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
	<link href="{% static "css/dashboard.css" %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static "css/generic.css" %}">
	<link href="{% static "css/dashboard.css" %}" rel="stylesheet" type="text/css">
  	<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
	<!--início do menu-->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
          <a class="navbar-brand" href="#">CRM Vendas</a>
      	</div>
	  </div><!-- /.container-fluid -->
	</nav><!-- /.navbar-default -->
	<!--fim do menu-->

	<!--inicio login-->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 div-form-venda form-venda">
		      	<form class="form-signin" method="post" action="">
			        <h2 class="form-signin-heading">Login</h2>
			        <label for="inputUser" class="sr-only">Usuário</label>
			        <input type="text" id="inputUser" class="form-control" placeholder="Usuário" required autofocus>
			        <label for="inputPassword" class="sr-only">Senha</label>
			        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
			        <div class="checkbox">
			          <label>
			            <input type="checkbox" value="lembrar-me"> Lembrar-me
			          </label>
			        </div>
			        <div class="checkbox">
			        	<a href="#">Esqueci minha senha</a>
			        </div>
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		      	</form>
		    </div>
		</div>    
    </div> <!-- /container -->
	<!--fim login-->
	
</body>
</html>