<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>CRM Vendas</title>
	<meta charset="utf-8">
	<meta name="author" content="Team ES2018.1">
	<meta name="description" content="Sistema de vendas para restaurantes e quiósques">
	<meta name="keywords" content="Sistemas, Restaurantes, Vendas, Controle, Estoque">
	<meta http-equiv="X-UA-Compatible" content="IE-edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<!--início do menu-->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">CRM Vendas</a>
	    </div>
	    <div class="collapse navbar-collapse" id="menu">
	      <ul class="nav navbar-nav navbar-right">
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav><!-- /.navbar-default -->
	<!--fim do menu-->
	<!--inicio login-->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
		      	<form class="form-signin" method="post" action="">
			        <h2 class="form-signin-heading">Login</h2>
			        <label for="inputUser" class="sr-only">Usuário</label>
			        <input type="text" id="inputUser" class="form-control" placeholder="Usuário" required autofocus>
			        <label for="inputPassword" class="sr-only">Senha</label>
			        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
			        <div class="checkbox">
			          <label>
			            <input type="checkbox" value="lembrar-me"> Lembrar-me
			          </label>
			        </div>
			        <div class="checkbox">
			        	<a href="#">Esqueci minha senha</a>
			        </div>
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		      	</form>
		    </div>
		</div>    
    </div> <!-- /container -->
	<!--fim login-->
</body>
</html>