<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vendas</title>
</head>

<body>
    <ul>
        {% for venda in vendas %}
        <a href="{% url 'atualizar_venda' venda.id %}">
            <li>{{ venda.descricao }}</li>
        </a>
        {% endfor %}
    </ul>

    <a href="{% url 'nova_venda' %}">Nova venda</a>
</body>

</html>